body {
  background: #00151c;
}
#chart {
  background: #0e3040;
  color: #67809f;
  width: 100%;
  height: 100%;
}
a {
  color: #67809f;
}

.rise {
  fill: lightgrey;
}
.fall {
  fill: turquoise;
}

.stem path {
  stroke: white;
}

.xAxis path {
  stroke: white;
}
.yAxis path {
  stroke: white;
}
